{% extends 'collection/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-card">
        <h2>Login</h2>
        <form method="POST" action=""> 
            {% csrf_token %}
            <label> Username</label>
            <input type="text" name="username" placeholder="Enter Username" />
            
            <label> Password </label>
            <input type="password"  name="password" placeholder="Enter Password"/>
            
            <input type="submit" value="login" />
        </form>
    </div>

</div>
{% endblock content %}